body{
  font-family: 'Vollkorn', serif, sans-serif;
  background: url("../images/wp3977146-crystals-wallpapers.jpg");
  font-size: 16px;
}

#mainSection{
  color: red;
}

#gameInstructions{
  background-color: cornsilk;
}

.gemButtons{
  background-color: rgb(251, 247, 247);
}

.numbers{
  background-color: yellow;
  font-weight: bolder;
}

#totalScore{
  font-size: 30px;
}

#selectedNumber{
  font-size: 30px;
}